.modal {
  position: fixed;
  color: #EEF0F2;
  top: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, .4);
  height: 100vh;
  width: 100vw;

  &_content {
    height: 100vh;
    animation: modalTransition .3s ease-in;
    width: 500px;
    background-color: #232323;

    &_header {
      padding: 24px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, .2);

      &_title {
        display: flex;
        gap: 10px;
        align-items: center;

        h2 {
          text-transform: uppercase;
          font-size: 23px;
          font-weight: 600;
        }
      }

      &_close-button {
        cursor: pointer;
      }
    }
    &_body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_filled {
      display: flex;
      gap: 10px;
      padding: 30px;
    }
  }
  }

  @keyframes modalTransition {
    from {
      opacity: 0;
      transition: all .6s ease-in;
    }

    to {
      opacity: 1;
    }

  }


