.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 92px;
  padding-top: 150px;
  color: #FFFFFF;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  opacity: .5;
}

.form {
  display: flex;
  border-top: 1px solid #EEF0F2;
  padding-top: 30px;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_button {
  border: none;
  background-color: #FFFFFF;
  width: 100%;
  color: #000000;
  font-weight: 800;
  padding: 15px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all .5s ease-out;

  &:hover {
    opacity: .5;
  }
}

.register_redirect {
  text-align: center;
  opacity: .7;
  font-size: 1.1rem;
  a {
    text-decoration: underline;
    color: #EEF0F2;
    opacity: .7;
    margin-left: 5px;
  }
}

.save_check {
  display: flex;
  padding-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  gap: 5px;
  justify-content: flex-end;
}