.content_wrapper {
  display: flex;
  gap: 80px;
}

.image {
  border-radius: 10px;
}

.content {
  color: #EEF0F2;

  &_title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &_price {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  &_status {
    display: block;
    color: red;
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding-top: 25px;
    margin-bottom: 30px;
  }
}

.quantity_title {
  display: flex;
  margin-bottom: 30px;
}

.quantity_wrapper {
  margin-bottom: 20px;
}

.cart_button {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid rgba(255,255,255, .2);
  outline: none;
  padding: 15px;
  border-radius: 5px;

  &:hover {
    border: 1px solid rgba(255,255,255, .7);
  }
}
