.aside {
  width: 265px;
  margin-right: 40px;

  &_title {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #EEF0F2;
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255,255,255, .5);
  }

  &_dropdown {
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;

    &_title {
      font-size: 1.3rem;
    }
  }
}

.title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}