.dropdown_content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;


  &-label {
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  &_input {
    appearance: none;
    position: absolute;
    left: 0;
    top: 4px;
    border: 1px solid rgba(255,255,255, .3);
    width: 14px;
    height: 14px;

    &_active {
      background-color: #EEF0F2;
    }
  }

  &-span {
    font-size: 1.1rem;
    padding-left: 25px;
    opacity: .8;
  }
}
