* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Poppins, serif;
  font-weight: 400;
}



a, button {
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

.modal-view {
  height: 100vh;
  overflow-y: hidden;
}

